<div class="navigation1">

    <div class="container1">
        <div class="row">
            <div class="col-xs-4">
                <a href="#" class="logo2"><img src="images/logo1.png" alt="Logo" /></a>
                <div class="dropdown">
                    <div class="menu-drop"><img src="images/menu-drop.png" alt="Menu dropdown" /></div>
                    <div class="menu-dropdown">
                        <ul class="list-unstyled">
                            <li><a href="index.html" target="_blank">Home</a></li>
                            <li><a href="">Marketplace</a></li>
                            <li><a href="business.html" target="_blank">Business Profile</a></li>	
                        </ul>			
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-8">
                <ul class="icons">
                    <li><a href="#"><i class="fa fa-usd"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope"><span class="badge">1</span></i></a></li>
                    <li><a href="#"><i class="fa fa-bell-o"><span class="badge">2</span></i></a></li>
                    <li class="profile"><a><img src="images/profile-icon.png" alt="Profile icon" /><span><i class="fa fa-angle-down"></i></span></a>
                        <ul class="dropdown1">
                            <li><a href="profile.html" target="_blank"><i class="fa fa-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="fa fa-users"></i> My Team</a></li>
                            <li><a href="ranking.html" target="_blank"><i class="fa fa-trophy"></i> Ranking</a></li>
                            <li><a href="statistic.html" target="_blank"><i class="fa fa-bar-chart"></i> Statistics</a></li>
                            <li><a href="setting.html" target="_blank"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div><!--row-->
    </div><!--container-->


</div>
